#Trung
Flask>=3.0,<4.0
gunicorn>=21.2,<23

Flask-SQLAlchemy>=3.1,<4
SQLAlchemy>=2.0,<3
greenlet>=3.0,<4

Flask-WTF>=1.2,<2
WTForms>=3.1,<4

requests>=2.31,<3

# PostgreSQL driver for Render deployment
psycopg2-binary>=2.9,<3

#Terry
tldextract
requests
Flask-APScheduler