<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="modal auth-modal" style="display:flex;">
  <div class="modal-content">

    <h2>Create New Password</h2>

    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <label>New Password</label>
      <input type="password" name="password" required>

      <button type="submit">Reset Password</button>
    </form>

  </div>
</div>

</body><body>

<div class="modal auth-modal" style="display:flex;">
  <div class="modal-content">

    <h2>Create New Password</h2>

    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <label>New Password</label>
      <input type="password" name="password" required>

      <button type="submit">Reset Password</button>
    </form>

  </div>
</div>

</body><body>

<div class="modal auth-modal" style="display:flex;">
  <div class="modal-content">

    <h2>Create New Password</h2>

    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <label>New Password</label>
      <input type="password" name="password" required>

      <button type="submit">Reset Password</button>
    </form>

  </div>
</div>

</body>
</html>